.order-id-wrapper {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 15px;
}

.order-id-input {
  vertical-align: middle;
}

main {
  display: flex;
}

.main-content-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  width: 100%;
}

.save-button-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.save-button-icon {
  margin-right: 5px;
}

@media (max-width: 1120px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main-content-wrapper {
    width: 80%;
  }

  .save-button-text {
    display: none;
  }
}

@media (max-width: 640px) {
  .main-content-wrapper {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .main-content-wrapper {
    width: 95%;
  }
}
